/*
* index.scss
* index global styles.
*
* Created by Syeh A. Khobar on a night when he thinks about the future.
*
* MadrasApp
*
* Government Agency: DHA: Web and Mobile Technology Program Management Office
* Government Agency Original Software Designation: pwa-starter
* Government Agency Original Software Title: pwa-starter
* User Registration Requested. Please send email
* with your contact information to: robert.a.kayl.civ@mail.mil
* Government Agency Point of Contact for Original Software - Program Manager: robert.a.kayl.civ@mail.mil
*/

*,
::before,
::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
}

img,
svg {
  vertical-align: top;
}

#root {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}
